<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Quick DASS Test</title>
  <link rel="stylesheet" type="text/css" href="Styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Quick DASS Test</h1>
      <form action="/Depression" method="POST">
    <div class="button-container">
      <button onclick="window.location.href='Depression.html'">Button 1</button>
        <a href='Depression.html'><button>Abid</button></a>

    </div>
    <p class="back-link"><a href="index.html">Back to Home</a></p>
      </form>
  </div>
</body>
</html>
